@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles below */
:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  background-color: #050505;
  color: #fff;
}

/* Scanline Effect */
body::after {
  content: "";
  position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;
  background: repeating-linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15) 1px, transparent 1px, transparent 2px);
  pointer-events: none; z-index: 9999;
}
